body {
  padding: 0
}

table {
  width: 100%;
  min-height: 10px;
}


.header {
  width: 100%;
}

.header-text {
  color: lightgray;
  font-size: 18px
}


.container-two {
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 50px;
}

.words-container {
  margin-top: 10px;
  font-size: 50px;
  font-family: sans-serif;
}

.get-started {
  border: 1px solid gray;
  color: gray;
  font-size: 18px;
  width: 100px;
  padding: 10px;
}

.line-header {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}

.line {
  height: 5px;
  border-bottom: 1px solid black;
  width: 80%;
}

.pad-right {
  padding-right: 16px;
}
.pad-right-two {
  padding-right: 8px;
}

.text-style {
  font-family: 'Bangers', cursive;
}

.wrap-text {
  width: 400px;
  overflow: wrap;
}

.wrap-text-two {
  width: 300px;
  overflow: wrap;
}

.my-image {
  width: 80%;
}

.margin-left {
  margin-left: 10%;
  margin-top: 40px;
}

.margin-left-two {
  margin-left: 10%;
  margin-top: 10px;
}
